/* General Styles */
  html, body {
    height: 100%;  /* add this line */
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  header {
    background-color: #35424A;
    color: white;
    padding: .7em 0;
  }

  .header-content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 20px; /* Adds some padding to the sides of the header content */
      flex-wrap: wrap; /* Allows items to wrap if they can't fit on one line */
  }

  h1 {
    margin: 0 20px 0 0;
    font-size: 1.8em;
}

  main {
    padding: 1em;
  }
  
  /* Map and Form Styles */
  #map {
    height: 90vh;
    width: 100%;
    margin-bottom: 2em;
  }
  
  #popup {
    margin: 0;
    padding: 1em;
    border-radius: 8px;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
  }
  
  .input-block {
    margin-bottom: 1em;
    padding-right: 1.5em; /* add some padding to the right */
  }
  
  .button-block {
    text-align: center;
    margin-top: 1em;
  }
  
  .submit-button {
    background-color: #35424A;
    color: white;
    border: none;
    padding: 0.5em 2em;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    font-size: 1.1em;
  }
  
  .submit-button:hover {
    background-color: #E8491D;
  }

  .input-block label {
    display: block;
    margin-bottom: 0.2em;
    font-weight: bold;
    font-size: 1.1em;
    color: #555;
  }
  
  .input-block input {
    width: 100%;
    padding: 0.5em;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    font-size: 1.1em;
  }
  
  .input-block input:focus {
    border-color: #35424A;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2), 0 0 5px rgba(53, 66, 74, 0.5);
    outline: none;
  }

  .floating-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: #01af19;
    color: white;
    width: 50px;  /* Set width */
    height: 50px; /* Set height to be the same as width */
    border: none;
    border-radius: 50%; /* Make it rounded */
    cursor: pointer;
    z-index: 1000;
    text-align: center; /* Center the content */
    line-height: 50px; /* Align the vertical center, should be the same as height */
  }
  
  .floating-button:hover {
    background-color: #35424A;
  }

  /*Price*/
  .price-box {
    background-color: white;
    width: 130px;
  }
  
  .price-box div {
    text-align: center;
    color: white;
    padding: 4px;
  }
  
  #price200 {
    background-color: rgba(0, 128, 0, 0.7);
  }
  
  #price500 {
    background-color: rgba(0, 0, 255, 0.7);
  }
  
  #price1000 {
    background-color: rgba(255, 0, 0, 0.7);
  }
/* Header Materials */
  .social-icons {
    display: flex;
    gap: 30px;
  }

  .social-icons a {
      color: white; /* Icon color */
      font-size: 24px; /* Icon size */
      transition: 0.3s;
  }

  .social-icons a:hover {
      color: #E8491D; /* Change color on hover, use any color you prefer */
  }

  .reload-link {
    text-decoration: none;
    color: inherit;  /* Makes the color the same as the parent */
  }

  .reload-link:hover {
      text-decoration: none;  /* Removes any underline on hover */
  }
  

  /* Media Query */
  @media (max-width: 768px) {
    header {
      order: 3;  /* Moves the entire header to the bottom */
    }
    
    #map {
      order: 1;  /* Makes it the first item */
    }

    #rideForm {
      order: 2;  /* Makes it the second item */
    }
    
    header h1 {
      font-size: 1.5em;
    }
    
    main {
      padding: 1em;
    }
  }
  